main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 20px;
  font-family: "Press Start 2P", roboto;
  grid-template-rows: 1fr 100px;
}

img {
  image-rendering: pixelated;
  pointer-events: none;
}

.screen-container {
  display: flex;
  justify-content: center;
  min-width: 280px;
  position: relative;
  overflow: hidden;
  background-image: url("../assets/backgroundH.png");
  aspect-ratio: 16/9;
  background-size: contain;
  user-select: none;
}

.screen-container svg {
  position: absolute;
  height: 100px;
  z-index: 1;
  transform: scale(0);
}

.screen-container .pokeball-svg {
  animation: scaleSpinTraslate 1s linear forwards;
}

@keyframes scaleSpinTraslate {
  0% {
    transform: rotate(360deg) scale(20);
    display: block !important;
  }
  100% {
    transform: rotate(0deg) translate(-140px, 100px) scale(1);
    display: none;
  }
}

.screen-image {
  min-width: 280px;
  height: auto;
  display: flex;
  align-items: center;
}

.screen-image img {
  min-height: 280px;
  filter: brightness(0);
}

.screen-image .appear-pokemon {
  transform: scale(0);
  animation: appearPokemon 0.5s linear 1s forwards;
}

@keyframes appearPokemon {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.show-pokemon {
  filter: brightness(1) !important;
  transition: filter 0.5s linear;
}

.show-pokemon-name {
  animation: scaleSpin 0.5s linear forwards;
}

@keyframes scaleSpin {
  0% {
    transform: rotate(360deg) scale(0);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.screen-name {
  min-width: 280px;
  margin-top: 20px;
  font-family: "Pokemon Solid";
  font-size: 2.5rem;
}

.screen-name h1 {
  color: #ffcb05;
  -webkit-text-stroke: 1px #3367b0;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.input-pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 0.8rem;
}

@media (max-width: 560px) {
  .screen-container {
    background-image: url("../assets/backgroundV.png");
    aspect-ratio: 9/16;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 20px;
  }
  
  .screen-name {
    font-size: 2rem;
    margin-top: 0px;
  }

  @keyframes scaleSpinTraslate {
    0% {
      transform: rotate(360deg) scale(9);
      display: block !important;
    }
    100% {
      transform: rotate(0deg) translate(90px, -150px) scale(1);
      display: none;
    }
  }

}
