main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Press Start 2P", roboto;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.app-container {
  border: 10px solid #000;
  background-color: #534f4f;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
}

* {
  padding: 0;
  margin: 0;
}

h2, h1, p {
  margin: 0;
}

img {
  image-rendering: pixelated;
  pointer-events: none;
}

.screen-container {
  display: flex;
  justify-content: center;
  min-width: 280px;
  position: relative;
  overflow: hidden;
  background-image: url("../assets/backgroundH.png");
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
  background-size: cover;
  user-select: none;
  border: 5px solid #000;
  border-radius: 5px;
}

.screen-container svg {
  position: absolute;
  height: 100px;
  z-index: 1;
  transform: scale(0);
}

.screen-container .pokeball-svg {
  animation: scaleSpinTraslate 1s linear forwards;
}

@keyframes scaleSpinTraslate {
  0% {
    transform: rotate(360deg) scale(20);
    display: block !important;
  }
  100% {
    transform: rotate(0deg) translate(-140px, 100px) scale(1);
    display: none;
  }
}

.screen-image {
  min-width: 280px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-image img {
  min-height: 280px;
  filter: brightness(0);
}

.screen-image .appear-pokemon {
  transform: scale(0);
  animation: appearPokemon 0.5s linear 1s forwards;
}

@keyframes appearPokemon {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.show-pokemon {
  filter: brightness(1) !important;
  transition: filter 0.5s linear;
}

.show-pokemon-name {
  animation: scaleSpin 0.5s linear forwards;
}

@keyframes scaleSpin {
  0% {
    transform: rotate(360deg) scale(0);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.screen-name {
  min-width: 280px;
  margin-top: 20px;
  font-family: "Pokemon Solid";
  font-size: 2.5rem;
}

.screen-name h1 {
  color: #ffcb05;
  -webkit-text-stroke: 1px #3367b0;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.result-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: red;
}

.modal-animation {
  transform: scale(0);
  animation: scaleAnimation 0.5s linear 2s forwards;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.score-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.score-first-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  text-align: center;
}

.score-second-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
}

.input-pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 0.8rem;
}

.input-pokemon input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-pokemon button {
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  height: 48px;
  padding: 0 25px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  outline: none;
}

.input-pokemon button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (max-width: 560px) {
  .app-container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
  }

  .screen-container {
    background-image: url("../assets/backgroundV.png");
    background-position: bottom center;
    aspect-ratio: 3/4;
    max-height: 480px;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 20px;
    gap: 30px;
  }

  .screen-name {
    font-size: 2rem;
    margin-top: 0px;
  }

  @keyframes scaleSpinTraslate {
    0% {
      transform: rotate(360deg) scale(9);
      display: block !important;
    }
    100% {
      transform: rotate(0deg) translate(90px, -150px) scale(1);
      display: none;
    }
  }

  .score-first-class {
    font-size: 0.7rem;
  }

  .score-second-class {
    font-size: 0.5rem;
  }

  .input-pokemon {
    font-size: 0.5rem;
    flex-direction: column;
  }
}

@media (max-width: 370px) {
  .app-container {
    padding: 0px;
    padding-bottom: 20px;
  }

  .score-first-class {
    font-size: 0.6rem;
  }

  .score-second-class {
    font-size: 0.4rem;
  }
}

@media (max-height: 700px) {
  .app-container {
    gap: 15px;
  }
}
